/* src/App.css */
body {
    margin: 0;
}

.d-flex {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    overflow: auto;
}