.home {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.home h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.home p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.home-image {
    width: 80%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}